.hrCard {
   border: none;
   border-top: 1px solid #e0e0e0;
   margin: 20px 0;
   width: 100%;
}

.hrCard2 {
   border: none;
   border-top: 1px solid #e0e0e0;
   margin: 20px 0;
   width: 100%;
}

.mainContainer {
   width: 100%;
   margin: 40px auto;
   padding: 0 40px;
   height: calc(100vh - 200px);
   overflow-y: auto;
}

.seccionContainer {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
   gap: 20px;
   padding: 10px 0;
}