.formConteiner{
    min-height: 80vh;
    display: flex;          
    align-items: center;     
    justify-content: center; 
    padding: 2rem;
}

.formBody{
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 1.5rem;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
}
